extends layout


block content
    .container-fluid
      include header
      //include _sidebar
      //include dashboard
      
      h2.sub-header Trades
      .row.data-columns="24"
        .col-sm-6.col-lg-6.bg-primary
          h4 BTC-e
      .row.data-columns="24"
        .col-sm-3.col-lg-3.bg-success
          h4 Buy Orders
        .col-sm-3.col-lg-3.bg-warning
          h4 Sell Orders
      .row.data-columns="24"
        .col-sm-1.col-lg-1.bg-success
          p Price $
        .col-sm-1.col-lg-1.bg-success
          p Quantity
        .col-sm-1.col-lg-1.bg-success
          p USD
        .col-sm-1.col-lg-1.bg-warning
          p Price $
        .col-sm-1.col-lg-1.bg-warning
          p Quantity
        .col-sm-1.col-lg-1.bg-warning
          p USD
      .row.data-columns="24"
        .col-sm-1.col-lg-1
          ul.list-group#btce_bidprice
        .col-sm-1.col-lg-1
          ul.list-group#btce_bidqty
        .col-sm-1.col-lg-1
          ul.list-group#btce_bidcurr
        .col-sm-1.col-lg-1
          ul.list-group#btce_askprice
        .col-sm-1.col-lg-1
          ul.list-group#btce_askqty
        .col-sm-1.col-lg-1
          ul.list-group#btce_askcurr

      .row.data-columns="24"
        .col-sm-6.col-lg-6.bg-primary
          h4 Bitstamp
      .row.data-columns="24"
        .col-sm-3.col-lg-3.bg-success
          h4 Buy Orders
        .col-sm-3.col-lg-3.bg-warning
          h4 Sell Orders
      .row.data-columns="24"
        .col-sm-1.col-lg-1.bg-success
          p Price $
        .col-sm-1.col-lg-1.bg-success
          p Quantity
        .col-sm-1.col-lg-1.bg-success
          p USD
        .col-sm-1.col-lg-1.bg-warning
          p Price $
        .col-sm-1.col-lg-1.bg-warning
          p Quantity
        .col-sm-1.col-lg-1.bg-warning
          p USD
      .row.data-columns="24"
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_bidprice
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_bidqty
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_bidcurr
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_askprice
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_askqty
        .col-sm-1.col-lg-1
          ul.list-group#bitstamp_askcurr


    
    script.
      $(document).ready(function() {
      
      
          function additem(element, data, property) {
            // The ul for output.
            var list = document.getElementById( element );
            $('#'+element).empty();
            // Display the sorted array.
            _.each( data, function( item ) {
                var li = document.createElement( "li" );
                var val = null;
                if( property != "price_currency" ) {
                  val = item[property];
                } else {
                  val = item["price"] * item["amount"];
                }
                li.appendChild( document.createTextNode( val ) );
                list.appendChild( li );
            });
          };
          
          //console.log('doc ready....');
          //subscibe to socket
          //var socket = io.connect('http://localhost:3001/');
          var sockjs = new SockJS('http://localhost:3001/multiplex/');
          var multiplexer = new WebSocketMultiplex(sockjs);
          
          var btce_ask = multiplexer.channel('btce_ask');
          var btce_bid = multiplexer.channel('btce_bid');
          var bitstamp_ask = multiplexer.channel('bitstamp_ask');
          var bitstamp_bid = multiplexer.channel('bitstamp_bid');
          
          btce_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_askprice", val, "price");
            additem("btce_askqty", val, "amount");
            additem("btce_askcurr", val, "price_currency");
          };
          
          btce_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_bidprice", val, "price");
            additem("btce_bidqty", val, "amount");
            additem("btce_bidcurr", val, "price_currency");
          };

          bitstamp_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_askprice", val, "price");
            additem("bitstamp_askqty", val, "amount");
            additem("bitstamp_askcurr",val, "price_currency");
          };
          
          bitstamp_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_bidprice", val, "price");
            additem("bitstamp_bidqty", val, "amount");
            additem("bitstamp_bidcurr", val, "price_currency");
          };
      });
